:root {
  --ff-primary: 'Source Sans', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #addef1;
  --clr-dark: #000000;
  --clr-dark2: #061930;
  --clr-accent: #9CF6FB;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
  0.125em 0.125em 0.25em rgba(0,0,0,0.25);
}
body {
    background-color: var(--clr-dark2);
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #unsplash-image {
    max-height: 500px;
    border: 20px solid var(--clr-dark);
  }

  h1 {
    color: var(--clr-dark);
  }

  .image-details {
    background-color: var(--clr-dark);
    margin-top: 100px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: fit-content;
  }

  .image-details a {
    color: #404358;
    font-size: 12px;
    font-style: italic;
  }

  .image-details a:hover {
    color: var(--clr-light);
  }
  img {
    max-width: 900px;
    width: 60vw;
    height: auto;
  }
  .button-container {
    padding: 15px;
  }

  .button {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: var(--bs);
  }
  .button:active {
    transform: translateY(4px);
  }
  .picker-container {

    padding: 5px;
    align-items: center;

    color: var(--clr-dark);
  }
  .select{
    justify-items: right;
  }
  .container{
    width: 75vw;
    background-color: var(--clr-light);
    padding-bottom: 5%;
  }